* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #3a3a3a;
    color: #555;
    font-family: 'Californian FB', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    text-rendering: optimizeLegibility;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/*------------------------- */
/* HEADER */
/*------------------------- */

header {
    background: rgba(35, 35, 35, 0.98) center;
    height: 10vh;
    box-shadow: 0 8px 6px -6px black;
}

.logo {
    height: 8vh;
    width: auto;
    float: left;
    margin-left: 5%;
    margin-top: 8px;
}

.nav-icon{
    position: absolute;
    right: 100%;
    top: -35%;
    height: 40px;
    width: auto;
    padding-right: 10px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-right: 5%;
}

.main-nav li {
    position: relative;
    display: inline-block;
    margin-left: 80px;
    margin-top: 7%;

}

.main-nav li a span {
   top: 10px;
}

.main-nav li a:link ,
.main-nav li a:visited {
    color: #c1c1c1;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover ,
.main-nav li a:active {
    border-bottom: 2px solid #c1c1c1;
}



/*------------------------- */
/* Board */
/*------------------------- */

.section-game {
    max-width: 100%;
}

.boardTrapeze {
    max-width: 28%;
}

#diceBoard {
    position: absolute;
    left: 4%;
    top: 11%;
}

#cardBoard {
    position: absolute;
    right: 4%;
    top: 11%;
}

#actionBoard{
    position: absolute;
    left: 4%;
    margin-top: 26.8%;
}

#eventBoard{
    position: absolute;
    right: 4%;
    margin-top: 26.8%;
}

.board {
    position: absolute;
    max-width: 60%;
    margin-top: 1.7%;
    left: 20%
}

.board-background{
    width: 100%;
    height: 100%;
}
.t-class{
    width: 100%;
}
#frame{
    position: absolute;
    height: 55%;
    width: 55%;
    top: 12%;
    left: 22%;
}
.hex{
    position: absolute;
    width: var(--setSize);
    height: var(--setSize);
    bottom: var(--currBottom);
    left: var(--currLeft);
    background-image: url("../resources/png/board-assets/hex4.png");
    background-size: cover;
    border-radius: 50%;
}


.hexEvent {
    position: absolute;
    width: 60%;
    height: 60%;
    left: 20%;
    top: 20%;
    background-image: var(--eventImg);
    background-size: cover;
}

/*------------------------- */
/* Navigation */
/*------------------------- */

.btn{
    background-color: rgba(35, 35, 35, 0.98);
    border-radius: 5%;
    color: #c1c1c1;
    display: inline-block;
    position: absolute;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #c1c1c1;
    border: none;
    outline: none;
    box-shadow: 5px 5px 5px rgba(35, 35, 35, 0.98);
}

#btn-dice{
    width: 45%;
    left: 15%;
    top: 45%;
}

.currPosition{
    animation: glowing 1500ms infinite;
}

.singleGlow {
    animation: glowing 1000ms infinite;
}
/*------------------------- */
/* Vars and animations */
/*------------------------- */

:root {
    --currBottom: 0%;
    --currLeft: 0%;
    --setSize: 4%;
    --eventImg: 0
}

@keyframes glowing {
    0% { box-shadow: 0 0 -10px #c1c1c1; }
    40% { box-shadow: 0 0 20px #c1c1c1; }
    60% { box-shadow: 0 0 20px #c1c1c1; }
    100% { box-shadow: 0 0 -10px #c1c1c1; }
}


