body{
    background-color: rgba(94,95,102,0.32);

}

h1{
    margin-left: 30%;
}


#frame{
    position: absolute;
    height: 780px;
    width: 780px;
    top:10%;
    left:30%;
    border: brown solid 2px;
}
.hex{
    position: absolute;
    width: var(--setSize);
    height: var(--setSize);
    bottom: var(--currBottom);
    left: var(--currLeft);
    background-image: url("../resources/hex.png");
    background-size: cover;

}

.hex-img
{
    width: 100%;
    height: 100%;
}

:root {
    --currBottom: 0%;
    --currLeft: 0%;
    --setSize: 4%;
}